/* background image */

body {
  background-image: url("../img/background.png");
  background-repeat: repeat;
}

/* categories */

.categories {
    margin: 0 auto;
    float: right;
    text-align: right;
}

h1 {
    font-size: 4.5em;    
    font-weight: 200;
    color: #A9A9A9;
    padding: 0em;
    margin: 0em;
    margin-right: 1em;
}

h1:hover {
    color: #ffffff;
}