/* link styles */
a, a:hover, a:visited{
    text-decoration: inherit;
    color: inherit;
}

/* background image */

body {
  background-image: url("../img/background.png");
  background-repeat: repeat;
}

/* categories */

.categories {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0em;
    margin-right: 2em;
    margin-bottom: 2em;
}

h1 {
    float: right;
    margin: 0 auto;
    cursor: pointer; 
    text-align: right;
    font-size: 4.5em;    
    color: #A9A9A9;
    margin: 0em;
    font-family: 'Lato', sans-serif;
}

h1:hover {
    color: #ffffff;
    cursor: pointer;
}

/* personal info */

.info { 
    margin: 2em;
    margin-top: 1em;
    float: left;
}

h2 {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em; 
    margin: 0;
}

h2:hover {
    color: #A9A9A9;
    cursor:pointer;
}

h2:hover + h3 {
    color:#ffffff
}

h3 {
    color: #A9A9A9;
    font-family: 'Lato', sans-serif;
    font-size: 1em; 
    margin: 0;
}

    /* contact */

    .contact{
        float: right; 
        font-size: 1.5em;
        text-align: right;
        margin: 0;
        font-family: sans-serif;
    }

    #emailLabel{
        float: right;
        font-size: 0.5em;
        text-align: center; 
        position: absolute;
        margin-top: 2.5em;
        margin-left: -6em;
        display: none;
    }

    #email:hover #emailLabel{
        display:inline-block;
    }

    #phoneLabel{
        float: right;
        font-size: 0.5em;
        text-align: center; 
        position: absolute;
        margin-top: 2.5em;
        margin-left: -4.5em;
        display: none;
    }

    #phone:hover #phoneLabel{
        display:inline-block;
    }

    #twitterLabel{
        float: right;
        font-size: 0.5em;
        text-align: center; 
        position: absolute;
        margin-top: 2.5em;
        margin-left: -4.5em;
        display: none;
    }

    #twitter:hover #twitterLabel{
        display:inline-block;
    }

    ul.contactIcons {
        color: #A9A9A9;
        margin-top: 2em; 
        list-style: none;
        margin: 1em;
        padding: 0;
    } 

        ul.contactIcons li {
            padding: 0.5em; 
            display: inline;
            text-align: center;
        }

            ul.contactIcons li:hover {
                color: #ffffff;
            }

/* modal */ 

.overlay {
    position: fixed;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.open {
    opacity: 0.6;
    z-index: 1000;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}